@{
    ViewData["Title"] = "Detalhes do Aluno";
}

<div class="container mt-4">
    <h2>Informações Detalhadas</h2>
    <hr />

    <div class="card shadow" style="width: 22rem;">
        <div class="card-header bg-primary text-white">
            Registro do Aluno #@ViewBag.Id
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Nome:</strong> @ViewBag.Nome</li>
            <li class="list-group-item"><strong>Curso:</strong> @ViewBag.Curso</li>
            <li class="list-group-item"><strong>Semestre:</strong> @ViewBag.Semestre</li>
        </ul>
        <div class="card-body text-center">
            <a asp-action="Index" class="btn btn-secondary">Voltar para o Perfil</a>
        </div>
    </div>
</div>
