<h2>Detalhes do Aluno</h2>
<hr />
<p><strong>ID:</strong> @ViewBag.Id</p>
<p><strong>Nome:</strong> @ViewBag.Nome</p>
<p><strong>Curso:</strong> @ViewBag.Curso</p>
<p><strong>Semestre:</strong> @ViewBag.Semestre</p>
<a asp-action="Index" class="btn btn-secondary">Voltar</a>
