<div class="card" style="width: 20rem; position: fixed !important; top: 90px !important; left: 15px !important; z-index: 99999 !important;">
    <div class="card-body">
        <p class="card-text" style="font-size: 1.15rem; margin-bottom: 5px;">Nome: <strong>@ViewBag.Nome</strong></p>
        <p class="card-text" style="margin-bottom: 5px;"><strong>Curso:</strong> @ViewBag.Curso</p>
        <p class="card-text" style="margin-bottom: 15px;"><strong>Semestre:</strong> @ViewBag.Semestre</p>
        <a asp-action="Detalhes" asp-route-id="1" class="btn btn-primary">Ver Detalhes</a>
    </div>
</div>