<div class="card" style="width: 18rem; position: fixed; top: 100px; left: 20px; z-index: 9999;">
    <div class="card-body">
        <h5 class="card-title"><strong>Nome:</strong> @ViewBag.Nome</h5>
        <p class="card-text"><strong>Curso:</strong> @ViewBag.Curso</p>
        <p class="card-text"><strong>Semestre:</strong> @ViewBag.Semestre</p>
        <a asp-action="Detalhes" asp-route-id="1" class="btn btn-primary">Ver Detalhes</a>
    </div>
</div>
