<div class="card" style="width: 18rem; margin-top: 40px; margin-left: -150px !important; display: block; clear: both;">
        <p class="card-text"><strong>Curso:</strong> @ViewBag.Curso</p>
        <p class="card-text"><strong>Curso:</strong> @ViewBag.Curso</p>
        <p class="card-text"><strong>Semestre:</strong> @ViewBag.Semestre</p>
        <a asp-action="Detalhes" asp-route-id="1" class="btn btn-primary">Detalhes</a>
    </div>
</div>
