<div class="card" style="width: 18rem; position: fixed; top: 100px; left: 20px; z-index: 9999;">
    <div class="card-body">
<p class="card-text" style="font-size: 1.25rem;"><strong>Nome:</strong> @ViewBag.Nome</p>       
<a asp-action="Detalhes" asp-route-id="1" class="btn btn-primary">Ver Detalhes</a>
    </div>
</div>
