<div style="position: absolute; top: 10%; left: 50%; transform: translateX(-50%); width: 100%; text-align: center;">
    <h1 style="margin: 0; display: inline-block;">Bem-vindo !!</h1>
    <p style="margin-top: 10px; text-align: center; max-width: 400px; margin-left: auto; margin-right: auto;">
        Clique na aba do topo para ter mais informações do aluno.
    </p>
</div>