<div style="position: absolute; top: 10%; left: 50%; transform: translateX(-50%); width: 100%; text-align: center;">
    <h1 style="margin: 0; display: inline-block;">Bem-vindo ao Perfil do Aluno!</h1>
    <p style="margin-top: 10px; text-align: left; max-width: 400px; margin-left: auto; margin-right: auto;">
        Clique na aba lá no topo para ver os dados.
    </p>
</div>